/* .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  
} */
/* 
.top{
  color: black;
} */

/* .form-group{
  /* for names color and font-size
  font-size: 150%;
  color: rgb(7, 7, 7);
}
input[type=radio] {
  width: 20px;
  height: 20px;
} */
/* body {  
    background: #C5E1A5; 
  } */

   /* form {  
   

     width: 75%;  
      height: auto;
     margin: 60px auto;   */

   /* background-image: url(https://i.imgur.com/6YuRxJA.png);
   /* background-color: aliceblue; 
   padding: 60px 120px 80px 120px;  

     text-align: auto;   */

     /* -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 

     box-shadow: 2px 2px 3px rgba(0,0,0,0.1);  */
/* 
  }
  .form-group{
    margin-bottom:20px;
    margin-top: auto;
    
  }
  


  .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
  */

  /* form{
    background-color: yellow;
  } */


body{
  background-color: violet;
}

  /* Made with love by Mutiullah Samim*/
/* 
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
} */


body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  
 }

 

p {
  color: #b3b3b3;
  font-weight: 300; }

 

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif; }

 

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none !important; }

 

.content {
  padding: 7rem 0; }

 

h2 {
  font-size: 20px; }

 

.half, .half .container > .row {
  height: 100vh;
  min-height: 900px; }

 

@media (max-width: 991.98px) {
  .half .bg {
    height: 200px; } }

 

.half .contents {
  background: #f6f7fc; }

 

.half .contents {
  width: 80%; }

 

.half .bg {
  width: 20%; }

 

/* @media (max-width: 991.98px) {
  .half .contents, .half .bg {
    width: 100%; } } */

 

.half .contents .form-control, .half .bg .form-control {
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 54px;
  background: #fff; }
  .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
    outline: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); }

 

.half .bg {
  background-size: cover;
  background-position: center; }

 

.half a {
  color: #888;
  text-decoration: underline; }

 

.half .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px; }

 

.half .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px; }

 

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px; }
  .control .caption {
    position: relative;
    top: .2rem;
    color: #888; }

 

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

 

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px; }

 

.control--radio .control__indicator {
  border-radius: 50%; }

 

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

 

.control input:checked ~ .control__indicator {
  background: #fb771a; }

 

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #fb8633; }

 

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none; }

 

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

 

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

 

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

 

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

 

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2; }
 
.heading{
  
  font-size: large;
}





























