
 

/* h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 
{
  font-family: "Roboto", sans-serif; 
} */

 

/* this is for "Register" Heading size*/
h2 {
  font-size: 20px;
 }


 
/* 
@media (max-width: 991.98px) {
  .half .bg {
    height: 200px; } } */

 
/* this is for form background color*/
.half .contents {
  background: #f6f7fc; }

 
/* this for form width*/ 
.half .contents {
  width: 80%; }

 

.half .bg {
  width: 20%; }

 
 
/* this is for text box height and background color*/
.half .contents .form-control, .half .bg .form-control {
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 50px;
  background: #fff; }

  .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
    outline: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); }



 
/*for registre button*/
.half .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px; }

 
/* this is for All heading like FirstName, LatName ,Email...*/
.heading
{
    font-size: large;
}

/* this is for input surrounded by boxes*/
.input-container{
  /* border: 1px solid ; */
  /* width: 60%; */
  /* margin: 50px 10px; */
  display: flex;
  align-items: center;
  
  border: 1px solid #aaa;
  
  
}

input[type="radio"] {
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5);
}

/* this is for placeHolder(Input) inside the boxes*/
.input-container input{
  padding: 10px;
  width: 100%;
  border: 0;
}
/* i for EYE */
i{
  margin: 0 10px;
}



/* .half .bg {
  background-size: cover;
  background-position: center; } */

 
/* 
.half a {
  color: #888;
  text-decoration: underline; } */

/* 
 .control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px; }
  .control .caption {
    position: relative;
    top: .2rem;
    color: #888; }

 

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

 

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px; }

 

.control--radio .control__indicator {
  border-radius: 50%; }

 

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

 
 

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

 

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

 

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

  */

 

/* .control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2; } */
 

/* @media (max-width: 991.98px) {
  .half .contents, .half .bg {
    width: 100%; } } */

/* 
.half, .half .container > .row {
  height: 100vh;
  min-height: 900px; } */

  

/* .half .bg {
  background-size: cover;
  background-position: center; } */

 
/* 
.half a {
  color: #888;
  text-decoration: underline; } */








