<div class="d-lg-flex half">
  <div class="contents  ">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-8 py-5">
          <h2>Register</h2>
          <p class="mb-4">Signup to create, discover and connect with the global community</p>

          <form #RegistrationForm="ngForm" (ngSubmit)="registerUser()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group first">
                  <label for="firstName" class="heading">FirstName:  <sup style="color: red;">*</sup></label>
                  <div class="input-container">
                    <input type="text" class="form-control" id="firstName" placeholder="Ex: ravinder"
                      name="firstName" [(ngModel)]="registerUserData.firstName" required #firstName="ngModel"
                      [class.is-invalid]="firstName.invalid && firstName.touched">

                  </div>
                  <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched"> FirstName is
                    required</small>
                  <!-- <div *ngIf="firstName.errors &&(firstName.invalid && firstName.touched)">
                    <small class="text-danger" *ngIf="firstName.errors.required"> First name is required</small>
                   
                    <small class="text-danger" *ngIf="firstName.errors.minlength"> First Name should have minimum 4 characters </small>
                  </div> -->

                  <div class="col-10" *ngIf="errorMessage?.firstName">
                    <span class="text text-danger">{{errorMessage.firstName}}</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group first">
                  <label for="lastName" class="heading">LastName: <sup style="color: red;">*</sup></label>
                  <div class="input-container">
                    <input type="text" class="form-control" id="lastName" placeholder="Ex: Aleti" name="lastName"
                      [(ngModel)]="registerUserData.lastName" required #lastName="ngModel"
                      [class.is-invalid]="lastName.invalid && lastName.touched">
                  </div>

                  <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched"> LastName is
                    required</small>
                  <!-- <div *ngIf="lastName.errors &&(lastName.invalid && lastName.touched)">
                    <small class="text-danger" *ngIf="lastName.errors.required"> Last Name is required</small>
                   
                    <small class="text-danger" *ngIf="lastName.errors.minlength"> Last Name should have minimum 4 characters </small>
                  </div> -->

                  <div class="col-10" *ngIf="errorMessage?.lastName">
                    <span class="text text-danger">{{errorMessage.lastName}}</span>
                  </div>
                </div>
              </div>
            </div><br>

            <!--For Email-id-->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group first">
                  <label for="emailId" class="heading">Email: <sup style="color: red;">*</sup></label>
                  <div class="input-container">
                    <input type="email" class="form-control" id="email" placeholder="Ex: ravinder123@gmail.com" name="emailId"
                      [(ngModel)]="registerUserData.emailId" required #emailId="ngModel"
                      [class.is-invalid]="emailId.invalid && emailId.touched">

                  </div>
                  <!-- <small class="text-danger" [class.d-none]="emailId.valid || emailId.untouched"> emailId is required</small>   pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+[.com]$" -->
                  <div *ngIf="emailId.errors &&(emailId.invalid && emailId.touched)">
                    <small class="text-danger" *ngIf="emailId.errors.required"> EmailId is required</small>
                    <!-- <small class="text-danger" *ngIf="emailId.errors.pattern"> Invalid Mail-Id </small> -->
                  </div>
                  <div class="col-10" *ngIf="errorMessage?.emailId">
                    <span class="text text-danger">{{errorMessage.emailId}}</span>
                  </div>
                </div>
              </div>
            </div><br>

            <!--For User Name-->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group first">
                  <label for="userName" class="heading">UserName: <sup style="color: red;">*</sup></label>
                  <div class="input-container">
                    <input type="text" class="form-control" id="userName" placeholder="Ex: ravinder123" name="userName"
                      #userName="ngModel" [(ngModel)]="registerUserData.userName" required
                      [class.is-invalid]="userName.invalid && userName.touched">

                  </div>
                  <div *ngIf="userName.errors &&(userName.invalid && userName.touched)">
                    <small class="text-danger" *ngIf="userName.errors.required"> userName is required</small>
                    <small class="text-danger" *ngIf="userName.errors.minlength"> userName should have minimum 5
                      characters</small>
                  </div>

                  <div class="col-10" *ngIf="errorMessage?.userName">
                    <span class="text text-danger">{{errorMessage.userName}}</span>
                  </div>
                </div>
              </div>
            </div><br>

            <div class="row">
              <!--For Gender-->
              <div class="col-md-6">
                <div class="form-group first">
                  <label for="gender" class="heading">Gender:</label><br><br>
                  <div>
                    <input id="male" type="radio" value="male" name="gender" [(ngModel)]="registerUserData.gender">
                    <label for="male">Male</label>&nbsp;&nbsp;
                    <input id="female" type="radio" value="female" name="gender" [(ngModel)]="registerUserData.gender">
                    <label for="female">Female</label>
                  </div>
                </div>
              </div>

              <!--For Address-->
              <div class="col-md-6">
                <div class="form-group first">
                  <label for="address" class="heading">Address:</label>
                  <div class="input-container">
                    <input type="text" class="form-control" id="address" [(ngModel)]="registerUserData.address"
                      placeholder="Enter address" name="address">
                  </div>
                </div>
              </div>
            </div><br>
            <!--For Password -->
            <div class="row">
              <div class="col-md-6">

                <div class="form-group last mb-3">
                  <label for="pwd" class="heading">Password: <sup style="color: red;">*</sup></label>
                  <div class="input-container">

                    <input type="password" [type]="hide ? 'password' : 'text'" class="form-control" id="password"
                      maxlength="20" placeholder="Ex:Aa12!@Aa" name="password"
                      [(ngModel)]="registerUserData.password" required #password="ngModel"
                      [class.is-invalid]="password.invalid && password.touched" />


                    <i class="material-icons" matsuffix (click)="hide =!hide"> {{hide ? 'visibility'
                      :'visibility_off'}}</i>


                  </div>
                  <small class="text-danger" [class.d-none]="password.valid || password.untouched"> Password is
                    required</small>
                  <div class="col-10" *ngIf="errorMessage?.password">
                    <span class="text text-danger">{{errorMessage.password}}</span>
                  </div>

                </div>
              </div>
              <!--confirm password-->
              <div class="col-md-6">
                <div class="form-group last mb-3">
                  <label for="confirmPassword" class="heading">ConfirmPassword: <sup style="color: red;">*</sup></label>
                  <div class="input-container">

                    <input type="password" [type]="hide1 ? 'password' : 'text'" class="form-control"
                      id="confirmPassword" placeholder="Ex:Aa12!@Aa " name="confirmPassword"
                      [(ngModel)]="registerUserData.confirmPassword" required #confirmPassword="ngModel"
                      [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched" />
                    <i class="material-icons" matsuffix (click)="hide1 =!hide1"> {{hide1 ? 'visibility'
                      :'visibility_off'}}</i>

                  </div>
                  <small class="text-danger" [class.d-none]="confirmPassword.valid || confirmPassword.untouched">
                    confirmPassword is
                    required</small>
                  <div class="col-10" *ngIf="errorMessage?.confirmPassword">
                    <span class="text text-danger">{{errorMessage.confirmPassword}}</span>
                  </div>
                </div>
              </div>
            </div>




            <!-- Register Button -->
            <button [disabled]="RegistrationForm.form.invalid" type="submit"
              class="btn btn-primary btn-lg btn-block">Register</button><br><br>


            <div class="alert alert-warning" *ngIf="RegistrationForm.submitted && isSignUpFailed">
              Signup failed!<br />{{errorMessage}}
            </div>


            <div class="alert alert-success" *ngIf="isSuccessfull">
              Your registration is successful!
            </div>

            <p style="color: red; background-color: #fff;"><i> All the fields with (*) are MANDATORY </i></p>
            <p><i style="font-size: larger; color: black; "> Existing User ? </i><button class="btn btn-info"
                [routerLink]="['']">Login
                here</button>
            </p>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>