/* 
  
 
  .form-body {
    padding:10px 40px;
    color:#666;
  }
  
   
  
  .horizontal-group .left{
    float:left;
    width:49%;
  }
  
  .horizontal-group .right{
    float:right;
    width:49%;
  }
  
 
  #range-label {
    width:15%;
    padding:5px;
    background-color: #1BBA93;
    color:white;
    border-radius: 5px;
    font-size: 17px;
    position: relative;
    top:-8px;
  }
  
  
  ::-webkit-input-placeholder  {
    color:#d9d9d9;
  }
  
  .signup-form .form-footer  {
    background-color: #EFF0F1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding:10px 40px;
    text-align: right;
    border-top: 1px solid #cccccc;
    clear:both;
  }
  
  
  
  .btn {
     display:inline-block;
     padding:10px 20px;
     background-color: #1BBA93;
     font-size:17px;
     border:none;
     border-radius:5px;
     color:#bcf5e7;
     cursor:pointer;
  }
  
  .btn:hover {
    background-color: #169c7b;
    color:white;
  }

  

body 
{
   margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
